@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/images/sol.jpg);
    background-size: cover;
    margin-top: 5vh;
    font-family: 'Raleway', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styling for the result panel */
.result{
    padding-top: 2%;
    padding-left: 3.5%;
    height: 38vh;
    width: 20vw;
    background-color: #728b75;
    text-align: center;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 10px;
    color: rgb(56, 59, 20);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.text{
    background-color: #fffefe;
    box-shadow: 5px 5px 2px rgb(13, 12, 12);
    width: 13vw;
}

/* Play Again button styling */
button{
    margin-top: 8vh;
    height: 4rem;
    width: 9rem;
    border-radius: 15px;
    font-size: 1.3rem;
    border: none;
    box-shadow: 3px 3px 2px rgb(13, 12, 12);
    background-color: #728b75;
    color: white;
    font-weight: 800;
    cursor: pointer;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px){

    .logo img{
        height: 13rem;
        width: 13rem;
        top: 5%;
    }

    .result{
        width: 50vw;
        height: 48vh;
        padding-left: 10%;
    }

    .text{
        width: 30vw;
    }

    button{
        height: 3rem;
        width: 10rem;
    }
    
}


@media screen and (max-width: 560px){
    .logo img{
        height: 13rem;
        width: 13rem;
        top: 5%;
    }

    .result{
        width: 45vw;
        height: 45vh;
        padding-left: 5%;
        padding-top: 3%;
    }

    .text{
        width: 35vw;
        font-size: 1rem;
    }

    button{
        height: 2rem;
        width: 8rem;
        font-size: 1rem;
    }
}


